<div class="modal-header">
	<button type="button" class="close" ng-click="cancelAdd()" data-dismiss="modal" aria-hidden="true">x</button>
	<h1>Añadir un miembro</h1>
</div>
<div class="modal-body">
	<label>Nombre</label>
	<input type="text" ng-model="nuevoMiembro.nombre"></input>
	<label>Tipo de Miembro</label>
	<input type="text" ng-model="nuevoMiembro.tipoMiembro"></input>
	<label>Puntos Fidelidad</label>
	<input type="number" ng-model="nuevoMiembro.fidelidad"></input>
	<label>Fecha de Union</label>
	<input type="date" ng-model="nuevoMiembro.fechaUnion"></input>
	<br />
	<button class="btn btn-success" ng-click="salvarNuevoMiembro()">Salvar miembro</button>
</div>
